body {
    background-color: yellow;
}

#benefits-title {
    display:inline;
    color: yellow;
    background-color: black;
    border-radius: 10px;

}

#setup-title {
    display:inline;
    color: yellow;
    background-color: black;
    border-radius: 10px;

}

#methods-title {
    display:inline;
    color: yellow;
    background-color: black;
    border-radius: 10px;

}

h1 {
    display:inline;
    color: yellow;
    background-color: black;
    border-radius: 10px;

}

img {
    display: flex;
    align-items: flex-start;
    border: 10px solid black;
    margin: 20px;
}

#navbar {
    display: flex;
}

#navbar p {
  margin-right: 20px;
}

body{
    font-family:monospace;
}

.dark {
    background-color: black;
    color: white;
}

.light {
    background-color: white;
    color: black;
}

#lotr-img {
    height: 250px;
    width: 450px;
}

#lotm-img {
    height: 250px;
    width: 450px;
}

#water-img {
    height: 250px;
    width: 450px;
}

#images {
    display: flex;

}